<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Spring Web MVC Application</display-name>

    
    <!--  Logging Config -->
	<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>1000</param-value>
    </context-param>
	<listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    
    
   <!--  Servlet Dispatcher Config -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	<!-- UTF-8 Encoding -->
	<!-- <filter> 
	    <filter-name>encodingFilter</filter-name> 
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
	    <init-param> 
	        <param-name>encoding</param-name> 
	        <param-value>UTF-8</param-value> 
	    	</init-param> 
	    	<init-param> 
	        <param-name>forceEncoding</param-name> 
	        <param-value>true</param-value> 
	     </init-param> 
	</filter> 
	<filter-mapping> 
		     <filter-name>encodingFilter</filter-name> 
		     <url-pattern>/*</url-pattern> 
	</filter-mapping>
	<jsp-config>
	    <jsp-property-group>
	        <description>Property group for common configuration for all the JSP's</description> 
	        <url-pattern>*.jsp</url-pattern>
	        <url-pattern>*.html</url-pattern>
	        <el-ignored>false</el-ignored>
	        <page-encoding>UTF-8</page-encoding>
	    </jsp-property-group>
	</jsp-config> -->
	
	
	<!-- Error handling -->
	<error-page>
		<error-code>400</error-code>
		<location>/exceptions/json</location>
	</error-page>
	
</web-app>